
    .quiz-url{
        cursor: pointer !important;
    }
    .bottom-section{
        font-size: 13px;
        margin-right: 10px;
        
      
    }
    .start-quiz{
        cursor: pointer;
    }
    .edit-content{
        display: flex;
        justify-content: end;
        width: 100%;
    }
    .edit-button{
        background-color: transparent;
        border: none;
    
    }