@import'../../assets/scss/variables.scss';
.new-quiz-wrapper{
    margin-top: 15vh;
    margin-bottom: 20vh;
    .tab-view{
        font-size: 12px;
        font-weight: 600;
        color: rgb(54, 52, 52);
        cursor: pointer;
    }
    .twitter-bs-wizard-pager-link{
      list-style: none ;
      display: flex;
      justify-content: space-between;
      margin-right: 30px;
    }
   
  
    
}

